.body{
  background: rgb(212, 18, 18);
}



.HomePage {
    display: flex;
    justify-content: flex-start;
    background-color: none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .button-signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-signup a {
    text-decoration: none;
    font-family: Oswald;
    color: black;
    text-align: center;
  }
  